.cart_items {
  position: relative;
  width: 100%;
  height: auto;
  display: flex;
  justify-content: start;
  flex-direction: column;
  gap: 3rem;
  padding: 0;
  margin: 0;
}

.go_back_link_container {
  width: 250px;
  position: absolute;
  top: 0rem;
  left: -2rem;
}
.go_back_link {
  font-family: var(--font-body);
}
.order_page_header {
  margin-top: 2rem;
  position: absolute;
  top: 5rem;
  left: 0rem;
}
.cart_items .shopping_icon {
  width: 3rem;
}

.cart_items .order_page_title {
  font-family: var(--font-logo);
  font-weight: 800;
  letter-spacing: 1.4px;
  font-size: xx-large;
  margin-left: 1rem;
}

.cart {
  width: 100vw;
  height: auto;
  background-color: var(--font-body);
  padding: 5rem 0;
  margin-left: 1rem;
}
.checkout {
  display: flex;
  justify-content: start;
  position: relative;
}

.checkout p {
  position: absolute;
  top: 2rem;
  right: 2rem;
  font-size: large;
  font-family: var(--font-body);
}
.quantity_container input {
  width: 40px;
  text-align: center;
  font-weight: bolder;
  border: solid 1px gray;
  outline: none;
}

.checkout button {
  width: 170px;
  height: 50px;
  background-color: rgb(19, 19, 19);
  color: white;
  font-family: var(--font-body);
  font-weight: 500;
  line-height: 2;
  letter-spacing: 1px;
  border: none;
  border-radius: 8px;
  margin: 10px;
  cursor: pointer;
}
.divider_shopping_cart {
  width: 1220px;
  height: 1px;
  background-color: #8c8383;
  margin: 10px auto 20px;
  border: none;
}

@media (max-width: 768px) {

  .cart_items {
    gap: 5rem;
    
  }

  .go_back_link_container {
    left: 0;
  }
  .order_page_header {
    top: 5rem;
  }

  .order_page_header .order_page_title {
    font-size: xx-large;
  }

  .order_page_title .shopping_icon{
    width: 2rem;
  }

  .checkout {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1rem;
  }
.checkout p {
  font-size: 1.2rem;
    position: absolute;
    font-weight: bold;
    top: 3.5rem;
    right: 1rem;
}

  .checkout button {
    font-size: medium;
  }

  .quantity_container input {
    width: 35px;
    font-size: small;
  }
  .divider_shopping_cart {
    width: 746px;
  }
}

@media (max-width: 480px) {
  .cart_items {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7rem;
  }
  .go_back_link_container {
    left: 0.2rem;
  }
  .go_back_link {
    font-size: 1rem;
    font-weight: 500;
  }
  .order_page_header {
    top: 7rem;
    
  }

  .cart_items .order_page_title {
    font-size: 24px;
  }

  .cart {
    padding: 1rem;
  }

  .checkout {
    flex-direction: column;
    position: relative;
  }

  .checkout p {
    top: 7.5rem;
    left: .5rem;
    font-size: medium;
  }

  .checkout button {
    height: 45px;
    font-size: small;
    width: 90%;
  }

  .quantity_container input {
    width: 30px;
  }

  .divider_shopping_cart {
    width: 455px;
  }
}
