.form_container {
  margin: 100px auto;
  width: 1000px;
  box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(0, 0, 0, 0.2);
  position: relative;
  border-radius: 10px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.close_btn {
  position: absolute;
  top: 2rem;
  right: 2rem;
  width: 2rem;
  z-index: 1;
  color: #050505;
  cursor: pointer;
}

.form_go_back_link_container {
  width: 100%;
  position: absolute;
  top: -3rem;
  left: -47px;
  z-index: 1;
}

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.form h1 {
  font-size: 1rem;
  text-align: start;
  width: 80%;
  margin-bottom: 1rem;

  font-family: var(--font-body);
  color: var(--primary-text-color);
}

.form_inputs {
  position: relative;
  margin-bottom: 0.5rem;

  width: 80%;
}

.form_inputs .error {
  font-family: var(--font-body);

  font-size: 0.8rem;
  margin-top: 0.5rem;
  color: #f00e0e;
}

.form_label {
  display: inline-block;
  position: absolute;
  top: -7px;
  left: 10px;
  color: #666;
  text-transform: uppercase;
  background-color: #f8f8f8;
  font-size: 0.8rem;
}

.form_input {
  width: 100%;
  height: 53px;
  padding: 10px;
  font-size: 1rem;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  background-color: #fff;
}
.form_input::placeholder {
  color: #595959;
  font-size: 14px;
}

.register_form_btn {
  width: 80%;
  height: 50px;
  margin-top: 10px;
  border-radius: 2px;
  background: black;
  outline: none;
  border: none;
  color: #fff;
  font-family: var(--font-body);
  font-weight: 500;
  font-size: 1.5rem;
}

.register_form_btn:hover {
  cursor: pointer;
  background-color: #373737;
  transition: all 0.4s ease-out;
}

.form_input_login {
  font-size: 16px;
  color: #666;
  font-size: 0.8rem;
  margin-top: 10px;
  width: 80%;
  text-align: center;
}

.form_input_login .navigate_to_login_link {
  font-size: 1.5rem;
  display: inline;
  color: #4010eb;
  cursor: pointer;
}

.form_input_login .navigate_to_login_link:hover {
  text-decoration: underline;
}

@media (max-width: 768px) {
  .form_container {
    display: grid;
    grid-template-columns: 1fr;
    place-items: center;
    width: 90%;
    height: auto;
    box-shadow: none;
  }

  .form {
    display: grid;
    position: static;
    top: unset;
    left: unset;
    transform: none;
    place-items: center;
    padding: 6rem 0rem;
  }

  .form_go_back_link_container {
    top: -4rem;
    left: -40px;
  }
  .form h1 {
    width: 100%;
    margin-bottom: 4rem;
    font-size: 1.3rem;
  }
  .form_inputs {
    width: 100%;
    margin-bottom: 1rem;
  }

  .form_input {
    height: 58px;
    font-size: 0.9rem;
    padding: 12px;
  }
  .form_input::placeholder {
    font-size: 1rem;
  }

  .form_label {
    font-size: 0.9rem;
  }
  .register_form_btn {
    width: 100%;
    height: 57px;
    font-size: 1.3rem;
    font-weight: 500;
  }

  .form_input_login {
    font-size: 1rem;
    width: 100%;
  }

  .navigate_to_login_link {
    font-size: 1.5rem;
  }
}

@media (max-width: 480px) {
  .form h1 {
    font-size: 1.2rem;
  }

  .form_go_back_link_container {
    left: -30px;
  }
}
