.dark_mode {
  position: absolute;
  top: 90px;
  right: 10px;
}

.dark_mode_input {
  width: 0;
  height: 0;
  visibility: hidden;
}

.dark_mode_label {
  width: 50px;
  height: 30px;
  background: var(--toggle_backgroundcolor);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 30px;
  cursor: pointer;
  position: relative;
  bottom: 2rem;
  transition: background 0.3s ease-in-out;
  box-shadow: inset 0px 5px 15px rgba(0, 0, 0, 0.4),
    inset 0px -5px 15px rgba(255, 255, 255, 0.4);
}

.dark_mode_label .icon {
  position: absolute;
  width: 20px;
  top: 5px;
  z-index: 100;
  transition: 0.3s;
}
